<div class="px-2 pb-2">
  <img src="/img/Whatsupp.png" alt="Whatsupp" class="img-fluid mb-1" width="20%">
  <!-- Search Bar -->
  <form action="/users/search" method="GET" class="mb-3 d-flex align-items-center gap-2">
    <input type="text" name="username" placeholder="Search by username" class="form-control" required>
    <input type="hidden" name="token" value="<%= token %>">
    <button type="submit" class="btn btn btn-success">Search</button>
  </form>
  <hr class="mb-3">
  <h2 class="mb-2 lead fs-5 fw-bold">Users</h2>
  <ul class="list-group" id="user-list">
    <% friends.forEach(user=> { %>
      <a href="/messages/chat?token=<%= token %>&receiverId=<%= user.id %>"
        class="btn text-start text-decoration-none lead bg-success-subtle mb-2">
        <li class="btn p-0">
          <%= user.username %>
        </li>
      </a>
      <% }) %>
  </ul>
  
  <!-- Pending Friend Requests -->
   <% if(friendRequests.length > 0) {%>
  <hr class="mb-3">
  <h2 class="mb-2 lead fs-5 fw-bold">Pending Requests</h2>
  <ul class="list-group" id="friend-requests">
    <% friendRequests.forEach(request=> { %>
      <li style="cursor: default;" class="btn d-flex align-items-center justify-content-between ">
        <h3 class="lead fs-4 "><strong>
            <%= request.sender_username %>
          </strong></h3>
        <div class="d-flex gap-2 align-items-center">
          <form action="/friends/accept-request" method="POST" class="m-0 p-0">
            <input type="hidden" name="requestId" value="<%= request.id %>">
            <input type="hidden" name="token" value="<%= token %>">
            <button type="submit" class="btn btn-sm btn-success">Accept</button>
          </form>
          <form action="/friends/reject-request" method="POST" class="m-0 p-0">
            <input type="hidden" name="requestId" value="<%= request.id %>">
            <input type="hidden" name="token" value="<%= token %>">
            <button type="submit" class="btn btn-sm btn-danger">Reject</button>
          </form>
        </div>
      </li>
      <% }) %>
  </ul>
  <hr class="mb-3">
  <% } %>
  <div class="position-fixed bottom-0">
    <h2 class="mb-2 lead fs-5 fw-bold">Profile</h2>
    <h3 class="lead fs-5"><strong>
        <%= currentUser.username %>
      </strong></h3>
  </div>
</div>